<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <button mat-raised-button
          matTooltip="Your Angular Material is working ! Good job :)"
          aria-label="Button that displays a tooltip when focused or hovered over">
          Pass hover to see if Angular Material works !
        </button>

        <button mat-stroked-button
                matTooltip="Your Angular Material is working ! Good job :)"
                aria-label="Button that displays a tooltip when focused or hovered over">
            Pass hover to see if Angular Material works !
        </button>
        <!--example on https://material.angular.io/components/dialog/overview-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    This is the expansion title
                </mat-panel-title>
                <mat-panel-description>
                    This is a summary of the content
                </mat-panel-description>
            </mat-expansion-panel-header>

            <p>This is the primary content of the panel.</p>

        </mat-expansion-panel>

        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    The <em>best</em> pasta
                </ng-template>
                <h1>Best pasta restaurants</h1>
                <p>...</p>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>thumb_down</mat-icon> The worst sushi
                </ng-template>
                <h1>Terrible sushi restaurants</h1>
                <p>...</p>
            </mat-tab>
        </mat-tab-group>

        <p>
            <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
        </p>

        <p>
            Button with a badge on the left
            <button mat-raised-button color="primary"
                    matBadge="8" matBadgePosition="before" matBadgeColor="accent">
                Action
            </button>
        </p>

        <p>
            Icon with a badge
            <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
        </p>

        <mat-chip-list>
            <mat-chip>One fish</mat-chip>
            <mat-chip>Two fish</mat-chip>
            <mat-chip color="primary" selected>Primary fish</mat-chip>
            <mat-chip color="accent" selected>Accent fish</mat-chip>
        </mat-chip-list>


        <mat-chip-list>
            <mat-chip>Papadum</mat-chip>
            <mat-chip>Naan</mat-chip>
            <mat-chip>Dal</mat-chip>
        </mat-chip-list>

        <ol>
            <li>
                <mat-form-field>
                    <input matInput [(ngModel)]="name" placeholder="What's your name?">
                </mat-form-field>
            </li>
            <li>
                <button mat-raised-button (click)="openDialog()">Pick one</button>
            </li>
            <li *ngIf="animal">
                You chose: <i>{{animal}}</i>
            </li>
        </ol>

        <li><a href="https://github.com/contribution-jhipster-uga" target="_blank" rel="noopener">GitHub link of Contribution Jhipster UGA</a></li>


        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

        <p jhiTranslate="home.question">
            If you have any question on JHipster:
        </p>

        <ul>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener" jhiTranslate="home.link.homepage">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener" jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.link.chat">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener" jhiTranslate="home.link.follow">follow @java_hipster on Twitter</a></li>
        </ul>

        <p>
            <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.github">GitHub</a>!
        </p>
    </div>
</div>
